* {
    /* outline: 1px solid rgb(255, 0, 0); */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
   }
 
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(30, 38%, 92%);
}
/* responisve Image */
img {
    width: 100%;
}
 
.design {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 375px;
   
}
 
.card {
    width: 350px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
 
.card-body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
 
.product-name {
    font-family: "Fraunces", sans-serif;
    color: black;
    font-size: 2.3em;
    line-height: 0.9;
}
 
.product-type {
    text-transform: uppercase;
    letter-spacing: 3px;
}